.container{
    display: block;
    width:80%;
    padding:20px;
    color:var(--color);
    border:3px solid var(--color);
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-in-out;
    margin-top:40px;
    margin-bottom:20px;
}

.container:hover{
    color:var(--background);
    border:3px solid gainsboro;
    background-color:var(--color);
    width:100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}